*{
    box-sizing: border-box;
}

:root{
}

html, body, #root, #appContainer{
    height: 100%;
    width: 100%;
    margin: 0;
}


/* Header */ 

#headerContainer{
    display: flex;
    position: fixed;
    height: 10vh;
    background-color: blue;
    width: 100%;
    z-index: 5;
}

/* Header Char */ 

#headerCharsContainer{
    display: flex;
}

.headerCharContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerCharImg img{
    width: 9vh;
    height: 7vh;
}

/* Start Page */

#startPageContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15vh;
    left: 0;
    right: 0;
    align-items: center;
}

#startPageTitle{
    font-size: 50px;
}

#btnStartGame{
    border: none;
    font-size: 25px;
    padding: 15px;
}

/* Game */

#gameContainer{
    padding-top: 10vh;
}

.gameImage{
    max-width: 100%;
    height: auto;
}