*{
    box-sizing: border-box;
}

:root{
    --mainBgColor: #121c35;
    /* --dropdownCharBgColor: rgba(53, 79, 145, 0.7); */
    --dropdownCharBgColor:rgba(18, 28, 53, 1)
}

html, body, #root, #appContainer{
    height: 100%;
    width: 100%;
    margin: 0;
}


/* Header */ 

#headerContainer{
    display: flex;
    position: fixed;
    height: 10vh;
    background-color: var(--mainBgColor);
    width: 100%;
    z-index: 5;
}

.headerCharName{
    font-size: 15px;
    color: white;
}

/* Header Char */ 

#headerCharsContainer{
    display: flex;
}

.headerCharContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.headerCharImg img{
    width: 9vh;
    height: 7vh;
}

/* Header Timer */

#timerContainer{
    font-size: 50px;
    color: white;
}

/* Start Page */

#startPageContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15vh;
    left: 0;
    right: 0;
    align-items: center;
}

#startPageTitle{
    font-size: 50px;
}

#btnStartGame{
    border: none;
    font-size: 25px;
    padding: 15px;
}

/* Game */

#gameContainer{
    padding-top: 10vh;
}

.gameImage{
    max-width: 100%;
    height: auto;
}

/* Dropdown */

.dropdownContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -15%);
}

#dropdownBox{
    width: 50px;
    height: 50px;
    border: 3px solid rgb(228, 226, 226);
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
}

.dropdownCharContainer{
}

.dropdownChar{
    display: flex;
    align-items: center;
    padding: 0 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--dropdownCharBgColor);
    color: white;
}

.dropdownCharImg{
    height: 35px;
    width: 35px;
}

/* Post Game */ 

#postGameContainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 15vh;
    left: 0;
    right: 0;
    align-items: center;
}

#postGameTime{
    
}